.container {
    display: flex;
    margin: 20px;
}
.details {
    padding: 0 0 0 20px;
}
.selected {
    background-color: green;
}
.button {
    background-color: red;
    margin: 10px 0 0 138px;
}
